@import '../utils/variables';
@import '../utils/mixins';

.header {
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  &__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 120px;
    padding-right: 120px;

    @include onTabletOnly {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include onMobile {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 33px;
    padding-bottom: 482px;

    @include onTabletOnly {
      margin-top: 141px;
      padding-bottom: 456px;
    }

    @include onMobile {
      margin-top: 129px;
      padding-bottom: 288px;
    }
  }

  &__title {
    font-family: $font-title;
    font-size: 78px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.5px;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    max-width: 498px;


    @include onTabletOnly {
      font-size: 64px;
      line-height: 64px;
      max-width: 392px;
    }

    @include onMobile {
      font-size: 40px;
      line-height: 40px;
      max-width: 280px;
      letter-spacing: 1px;
    }
  }
}
