@import '../utils/variables';
@import '../utils/mixins';

.hours {
  padding-top: 0;
  padding-bottom: 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gutter;

    @include onTabletOnly {
      grid-template-columns: repeat(6, 1fr);
    }

    @include onMobile {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  &__header {
    grid-column: span 5;

    @include onTabletOnly {
      grid-column: span 2;
    }

    @include onMobile {
      grid-column: span 1;
    }
  }

  &__caption {
    display: block;
    font-family: $font-title;
    font-size: 12px;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: 0px;
    color: $color-red;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__title {
    margin: 0;
    font-family: $font-title;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: $color-dark;

    @include onTabletOnly {
      font-size: 36px;
      line-height: 36px;
    }

    @include onMobile {
      font-size: 32px;
    }
  }

  &__content {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include onTabletOnly {
      grid-column: span 4;
    }

    @include onMobile {
      grid-column: span 1;
      gap: 32px;
    }
  }

  &__location-title {
    font-family: $font-title;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    color: $color-dark;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include onMobile {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    gap: 24px;
    font-family: $font-title;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;

    @include onMobile {
      gap: 16px;
      font-size: 12px;
    }
  }

  &__time {
    font-weight: 700;
    font-family: $font-title;
    width: 120px;
    size: 16px;
    line-height: 27px;
    flex-shrink: 0;
    color: $color-dark;

    @include onMobile {
      width: 100px;
    }
  }

  &__days {
    font-family: $font-title;
    font-weight: 400;
    size: 16px;
    line-height: 27px;
    color: $color-gray-text;
    margin: 0;
  }

  &__note-group {
    font-family: $font-title;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__note-label {
    font-weight: 700;
    font-family: $font-title;
    size: 16px;
    line-height: 27px;
    color: $color-dark;
    display: block;
    margin-bottom: 2px;
  }

  &__note-text {
    font-family: $font-title;
    font-weight: 400;
    size: 16px;
    line-height: 27px;
    color: $color-gray-text;
    margin: 0;
  }
}
