// Breakpoints
$mobile-max-width: 743px;
$tablet-min-width: 576px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;

// Fonts
$font-title: 'Cinzel', Bold;

// Colors
$color-dark: #111111;
$main-text-color: #161616;
$color-main-text: $main-text-color;
$color-gray-bg: #f9f9f9;
$color-gray-text: #666666;
$color-white: #fff;
$color-red: #d12329;
$color-red-hover: #a81a1f;
$color-menu-bg: #d12d35;

// Layout & Grid
$gutter: 24px;
$effectDuration: 0.3s;

// Layout & Spacing
$section-margin-bottom: 140px;
$section-margin-bottom-tablet: 100px;
$section-margin-bottom-mobile: 80px;
